$main-back-color: #fbfbfb;
$dark-back-color: #322d3e;
$light-back-color: #ebebeb;

$main-font-color: #8993ad;
$black-font-color: #1f1f24;
$link-hover-color: #fc557c;

$button-back-color: #ff4e2e;
$button-border-color: #f82370;
$button-text-color: #f53f4f;

$gradient-orange: #ff8a5d;
$gradient-pink: #ff2f96;

$shadow-color: #d3d2d6;